 .header {
    position: absolute;
    text-align: right;
    top: 200px;
    right: 145px;  
    font-family: "Montserrat", sans-serif;
 }


 
 .header2 {
    position: absolute;
    text-align: right;
    font-weight: 14px;
    top: 270px;
    right: 200px;
    font-family: "Nunito Sans", sans-serif;
 }


 
 .header4{
   position: absolute;
   text-align: right;
   font-weight: 14px;
   top: 305px;
   right: 189px; 
   font-family: "Nunito Sans", sans-serif;

 }

 .header5{
   position: absolute;
   text-align: right;
   font-weight: 14px;
   top: 340px;
   right: 295px; 
   font-family: "Nunito Sans", sans-serif;
 }

 button {
    position: absolute;
    text-align: right;
    top: 420px;
    right: 495px;
    background-color: #10C9C3;
    color: aliceblue;
    border: none;
  }

  .progress-bar{
   background-color: #10C9C3;
  }

  
input[type=text], select, textarea {
   width: 100%; 
   padding: 12px; 
   border: 1px solid #ccc; 
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize: vertical 
 }
 

 input[type=submit] {
   background-color: #10C9C3;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 
 input[type=submit]:hover {
   background-color: #10C9C3;
 }
 
 
 .container5 {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
 
 .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #000000;
	background-color: #ffffff;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.sec3{
  background-color: aqua;
  color: #ffffff;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;

}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgb(116, 109, 109);
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 0.5;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}